<div class="custom-banner">
  <div class="custom-banner-content">
    <h1>{{ section.settings.heading }}</h1>
    <p>{{ section.settings.subtext }}</p>
    <div class="banner-buttons">
      <a href="{{ section.settings.button_link }}" class="btn primary">
        {{ section.settings.button_text }}
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom Banner",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "The Gift Guide"
    },
    {
      "type": "textarea",
      "id": "subtext",
      "label": "Subtext",
      "default": "Discover Joy: Your Ultimate Holiday Gift Destination..."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Custom Banner"
    }
  ]
}
{% endschema %}
