.custom-grid .grid{
    display: grid;
    grid-template-columns: repeat(3, 1 fr);
    gap: 2 rem;
    padding: 2 rem;
}
.custom-grid__img img{
    width: 433px;
    height:444px;
    object-fit: cover;
}
.product-card{
    background: #fff;
    border: 1 px solid #eee;
    border-radius: 12 px;
    text-align: center;
    padding: 1 rem;
    box-shadow: 0 4 px 12 px rgba(0, 0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5 px);
}

.product-card img{
    width: 100%;
    border-radius: 8 px;
    margin-bottom: 1 rem;
}

.product-card h3{
    font-size: 1.1 rem;
    margin: 0.5 rem 0;

}
.product-card button{
    padding:0.6 rem 1.2 rem;
    background: 0.6 rem 1.2 rem;
    background: #111;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.product-card button:hover{
    transform: scale(1.05);
}

/*pop up*/
.popup-overlay{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    display:none;
    align-items:center;
    justify-content:center;
    z-index:1000;
}

.popup-box{
    background:#fff;
    padding: 2 rem;
    border-radius: 12 px;
    max-width: 500 px;
    width: 90%;
    position:relative;
}
#popup-close{
    position: absolute;
    top: 10 px;
    right: 10 px;
    border: none;
    background: none;
    font-size: 1.5 rem;
    cursor:pointer;
}

#popup-content h2{
    margin-bottom: 0.5 rem;
}

#popup-content p{
    margin-bottom: 1 rem;
}

@media(max-width: 992 px){
    .custom-grid .grid{
        grid-template-columns: 1fr;
    }
}